.header {
  padding-top    : 50px;
  padding-bottom : 50px;
  display        : flex;
  align-items    : center;
  justify-content: center;
}

.header>h1 {
  color      : #AAA;
  font-size  : 36px;
  font-weight: 400;
}

.header>h1>strong {
  color: #313131;
}